---
import NavMenu from "../components/NavMenu.astro";
import HeroPage from "../components/HeroPage.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-black text-lg text-white">
		<div id="app" class="relative">
			<NavMenu />
			<HeroPage />
		</div>
	</body>
</html>
