---
import Button from "./Button.astro";
---

<section>
    <article>
        <h1>Beyond the Trailer, Deeper into the Story</h1>
        <p>
            Forget predictable plotlines. We curate a cinematic experience. Captivating narratives waiting to be explored, characters waiting to be discovered.
        </p>
        <Button /> 
    </article>
    <article class="bg-[url('./public/Celluloid-herobg.png')]">
    </article>
</section>