---

---

<header class="text-white sticky w-10/11 md:bg-almost-black py-2 px-6 rounded-full my-4 mx-6 md:backdrop-blur-sm">
    <nav>
        <div class="mobile-version hidden">
            <div class="logo-container">
                <a href="#">
                    <img src="../../public/celluloid-logo.svg" alt="Celluloid Logo link">
                </a>
            </div>
            <button>
                <img class="w-5" src="../../public/menu.png" alt="Menu icon">
            </button>
        </div>
        <div class="desktop hidden md:block">
            <ul class="flex items-center justify-between">
                <li>
                    <a href="#">
                        <img src="../../public/celluloid-logo.svg" alt="logo-link">
                    </a>
                </li>
                <ul class="navigation-links flex gap-8">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Movies</a>
                    </li>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</header>